* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.header {
position: absolute;
}

li {
  font-size: 12px;
  list-style-type: none;
}

.about {
  top: 10px;
  left: 10px;
}

.store {
  top: 10px;
  left: 60px;
}

.gmail {
  top: 10px;
  left: 1650px;
}  

.images {
  top: 10px;
  left: 1700px;
}
a:link {
  color: #3f3f3f;
  text-decoration: none;

}

a:visited {
  color: #3f3f3f;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;

}

.logo {
  position: absolute;
  top: 180px;
  left: 825px;
  
}


.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f1f1f1;
  border: none;
  color: #757575;
  font-family: roboto;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
}

.search:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #b3b3b3;
  color: black;
  cursor: pointer;

}

.searchbar {
  width: 30%;
  position: absolute;
  top: 300px;
  left: 665px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c8c8c8;
  padding: 12px;
  box-shadow: 2px 2px 1px #e3e3e3;
}

.searchbar:hover {
  box-shadow: 4px 4px 2px #e3e3e3;
}
.search1 {
  position: absolute;
  top: 350px;
  left: 815px;
}

.search2 {
  position: absolute;
  top: 350px;
  left: 960px;
}

.advert {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 100%;
  background-color: #f2f2f2;
}
