li {
  font-size: 12px;
  list-style-type: none;
  display: inline;
}

.about {
  width: auto;
  padding: 0;

}

.store {
  margin: 0px;
  padding: 10px;
  width: 25px;
}

.gmail {
}  

a:link {
  color: #3f3f3f;
  text-decoration: none;

}

a:visited {
  color: #3f3f3f;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;

}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
